<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fall2018.csc2017.GameCentre">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round1"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GameActivity" />
        <activity android:name=".StartingActivity" />
        <activity android:name=".ScoreBoard.LeaderBoardMain" />
        <activity android:name=".ScoreBoard.GlobalThreeByThree" />
        <activity android:name=".ScoreBoard.GlobalFiveByFive" />
        <activity android:name=".LoginActivityMain" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".ScoreBoard.LeaderBoardCurrentUser" />
        <activity android:name=".ScoreBoard.LocalFiveByFive" />
        <activity android:name=".ScoreBoard.LocalThreeByThree" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".FirstActivity" />
        <activity android:name=".GameChoiceActivity" />
        <activity android:name=".SequencerSettingsActivity" />
        <activity android:name=".SequencerStartingActivity" />
        <activity android:name=".SequencerGameActivity" />
        <activity android:name=".TicTacToe.TicTacGameActivity" />
        <activity android:name=".TicTacToe.TicTacMainActivity" />

    </application>

</manifest>